@font-face {
	font-family: "Norse";
	src: url(./fonts/NorseBold.otf);
}
* {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
aside {
	display: flex;
	flex-direction: column;
	width: 35vw;
	background: no-repeat center center url(./src/cowsbg.jpg);
	background-size: cover;
	justify-content: space-between;
	align-items: center;
}
aside > div:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 6rem;
	font-family: Norse;
	margin-top: 10rem;
	background: rgba(0, 0, 0, 0.6);
	height: 10rem;
	width: 100%;
}
aside > div:first-of-type > img {
	width: auto;
	height: 120px;
}
#bgcredit {
	color: gainsboro;
	margin-bottom: 2rem;
	text-align: center;
}
a:link {
	color: gainsboro;
}
a:visited {
	color: rgb(107, 75, 107);
}
a:hover {
	color: rgb(169, 109, 169);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 65vw;
	height: 100%;
}
main > div {
	width: 100%;
}
main > div > div {
	margin: 3%;
}

/* First division */

main > div:nth-child(1) {
	height: 35%;
	background-color: rgb(219, 229, 230);
	display: flex;
	flex-direction: column;
	justify-content: end;
}
main > div:nth-child(1) > div {
	display: flex;
	flex-direction: column;
	font-size: larger;
	gap: 1rem;
}
main > div:nth-child(1) > div > p {
	max-width: 900px;
	color: rgb(53, 53, 53);
	font-weight: bold;
}

/* Second division */

main > div:nth-child(2) {
	display: flex;
	height: 30%;
	position: relative;
	z-index: 10;
	background-color: #f4f4f4;
	box-shadow: 5px 5px 5px rgb(115, 118, 118);
}
legend {
	font-weight: bold;
	color: rgb(69, 69, 69);
}
form {
	display: flex;
	flex-direction: row;
	height: 90%;
	width: 700px;
	gap: 3rem;
	margin-top: 16px;
}
form > div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
form > div > div {
	display: flex;
	flex-direction: column;
}
form > div > div > label {
	font-size: smaller;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgb(69, 69, 69);
}
form > div > div > input {
	color: rgb(69, 69, 69);
	width: 200px;
	border-radius: 5px;
	height: 24px;
	padding-left: 4px;
	border: 1px solid darkgrey;
}

form > div > div > input:focus {
	border-color: rgb(44, 44, 228);
	box-shadow: 5px 5px 5px gray;
}

form > div > div > input:invalid {
	border: solid 2px red;
	border-color: red;
}

/* Third division */

main > div:nth-child(3) {
	height: 35%;
	background-color: rgb(219, 229, 230);
}

main > div:nth-child(3) > div > input {
	background-color: rgb(72, 146, 79);
	font-size: 0.9rem;
	font-weight: bold;
	color: #f2f2f2;
	padding: 15px 50px 15px 50px;
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 2px rgb(162, 162, 162);
	margin-bottom: 24px;
}
main > div:nth-child(3) > div > input:hover {
	background-color: rgb(52, 116, 59);
}
main > div:nth-child(3) > div > input:active {
	background: rgb(52, 116, 59);
	-webkit-box-shadow: inset 0px 0px 5px #123c1e;
	-moz-box-shadow: inset 0px 0px 5px #123c1e;
	box-shadow: inset 0px 0px 5px #123c1e;
	outline: none;
}
@media only screen and (max-width: 1000px) {
	main {
		color: white;
	}
}
